<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoi-DepRfPodl5uuB33aeOLzhHAnRXz_4</string>
	<key>GCM_SENDER_ID</key>
	<string>335131619336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.eventify</string>
	<key>PROJECT_ID</key>
	<string>eventify-adb6a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventify-adb6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335131619336:ios:d414b5c6381c56042d21bd</string>
</dict>
</plist>